<h1 style="margin-left: 10px;">Log In</h1>
<div style="margin-left: 10px;">
<%= form_with url: session_path do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <br>

  <div class="actions">
    <%= f.submit 'Log In' %>
  </div>
<% end %>
</div>