<div class="container">
  <h1><center>Students - Information</center></h1>
  
  <button><%= link_to 'Back', students_path %></button>
  <div class="table-responsive">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>          
          <th>ID</th>
          <th>Name</th>
          <th>Father Name</th>
          <th>Gender</th>
          <th>Date Of Birth</th>
          <th>Roll No.</th>
          <th>Adderss</th>
          <th>Contact</th>
          <th>Teacher name </th>
          <th>Actions </th>
        </tr>
      </thead>
      <tbody>
        
        <%= id =  StudentTeacher.where(student_id: params[:id]).pluck(:teacher_id) %>
        <tr>
            <td><%= @student.id %></td>
            <td><%= @student.name %></td>
            <td><%= @student.father_name %></td>
            <td><%= @student.gender %></td>
            <td><%= @student.date_of_birth %></td>
            <td><%= @student.roll_no %></td>
            <td><%= @student.address %></td>
            <td><%= @student.contact_number %></td>
            
          <% id.each do |s| %>
            <td><%= Teacher.find_by(id: s).name %></td>
            
          <% end %>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded"><%= link_to 'Edit', edit_student_path %></button>      
            <button type ="button" class="btn btn-link btn-sm btn-rounded"><%= link_to "Destroy", student_path, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
