

<h1><center>Teacher - Information</center></h1>
<br>
  <div class="table-responsive">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Teacher ID</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Date of Birth</th>
          <th>Salery</th>
          <th>Subject</th>
          <th>Address</th>
          <th>Contact</th>
          <th>Student name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>          
            <p class="fw-bold mb-1"><%= @teacher.id %></p>    
          </td>
          
          <td>          
            <p class="fw-bold mb-1"><%= @teacher.name %></p>    
          </td>
          <td>
            <p class="fw-normal mb-1"><%= @teacher.gender %></p>            
          </td>
          <td>
            <p class="fw-normal mb-1"><%= @teacher.date_of_birth %></p>            
          </td>
          <td>
            <p class="fw-normal mb-1"><%= @teacher.salery %></p>            
          </td>
          <td>
            <p class="fw-normal mb-1"><%= @teacher.subject_name%></p>            
          </td>
          <td>
            <p class="fw-normal mb-1"><%= @teacher.address%></p>            
          </td>
          <td>
            <p class="fw-normal mb-1"><%= @teacher.contact_number%></p>            
          </td>
          <td>
            <p class="fw-normal mb-1"><%= @array%></p>            
          </td>

          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded"><%= link_to 'Edit', edit_teacher_path %></button>

            <button type="button" class="btn btn-link btn-sm btn-rounded"><%= link_to 'Make Assosiation', new_student_teacher_path %></button>

            <button type ="button" class="btn btn-link btn-sm btn-rounded"><%= link_to "Destroy", teacher_path, data: {
                    turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <br>

